;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies [[binaryage/devtools "0.9.7"]
                ;; fork to support react 16
                [ua.modnakasta/rum "0.11.0-2"]
                [org.roman01la/citrus "3.0.0" :exclusions [rum]]]

 ;; set an nrepl port for connection to a REPL.
 :nrepl        {:port 8777}

 :builds
 {:app {:target :browser
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"

        :modules
        {:main
         {:entries [{{name}}.core]}}

        :devtools
        {
         ;; after live-reloading finishes call this function
         :after-load {{name}}.core/start
         ;; serve the public directory over http at port 8700
         :http-root    "public"
         :http-port    8700
         :preloads     [devtools.preload]}
        }}}
